@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.general-analytics-view {
    .card-filter {
        box-shadow: 2px 1px 22px -1px rgba(18, 38, 63, 0.09);
        border-radius: 4px;
    }
    .card-filter-scrollable {
        max-height: 400px;
        overflow: auto;
    }
    .change-button {
        width: 102px;
        margin: 30px auto 0;
        display: block;
    }
    .filter-name-span {
        text-transform: capitalize;
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #eff2f7;
        font-size: 14px;
        line-height: 21px;
        color: #8687a7;
        margin-bottom: 10px;
    }

    .input-select-chart-data {
        position: absolute;
        left: 0;
        /* z-index: -1; */
        width: 1rem;
        height: 1.15625rem;
        /* opacity: 0; */
    }

    .select-chart-data-holder {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0 !important;
        }
    }

    .loading-spinner {
        position: absolute;
        z-index: 9999;
    }

    @media (min-width: 475px) {
        .loading-spinner {
            top: 25px;
        }
    }

    @media (max-width: 475px) {
        .loading-spinner {
            top: 45px;
        }
    }

    .tv-lightweight-charts > table > tr:first-child > td:nth-child(3) {
        width: 75px !important;
    }

    .tv-selector-container {
        & .rebases-button {
            &-active:not(:disabled) {
                background-color: rgb(255, 173, 22);
                color: rgb(0, 0, 0);
                font-weight: 600;
            }
        }
    }

    @media (min-width: 1250px) {
        .tv-selector-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & * {
                font-size: 0.7rem;
            }

            & > div:first-child {
                width: 28%;
            }

            & > div:nth-child(2) {
                width: 50%;
            }

            & > div:nth-child(3) {
                width: 16%;
            }
        }
    }

    @media (max-width: 1250px) {
        .tv-selector-container {
            display: flex;
            flex-direction: column;

            & div:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    .charts-container {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        max-width: 100%;
    }

    .chart-title {
        max-width: 52%;
        position: absolute;
        top: 10px;
        left: 15px;
        color: rgb(18, 23, 34);
        z-index: 1000;
        font-family: 'Lato', sans-serif;
    }

    .chart-ohlc {
        position: absolute;
        z-index: 2;
        display: inline-flex;

        &-positive {
            & > div > span:nth-child(2) {
                color: rgb(37, 166, 154);
            }
        }

        &-negative {
            & > div > span:nth-child(2) {
                color: rgb(239, 83, 80);
            }
        }

        & > div:not(:first-child) {
            margin-left: 5px;
        }
    }

    @media (min-width: 1000px) {
        .chart-ohlc {
            top: 10px;
            right: 100px;
        }
    }

    @media (max-width: 1000px) {
        .chart-ohlc {
            top: 28px;
            left: 15px;
        }
    }

    @media (min-width: 600px) {
        .chart-title,
        .chart-ohlc {
            font-size: 14px;
        }
    }

    @media (max-width: 600px) {
        .chart-title,
        .chart-ohlc {
            font-size: 10px;
        }

        .chart-ohlc {
            top: 22px;
        }
    }

    @media (max-width: 450px) {
        .chart-ohlc {
            display: none;
        }
    }

    .chart-outer {
        position: relative;
        width: 100%;
        max-width: 100%;
    }

    .chart-inner {
        position: relative;
    }

    .inputs {
        display: flex;
        position: absolute;
        left: 700px;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;

        &-staking,
        &-bonds,
        &-treasury,
        &-switch-interval {
            text-align: left;
            & > div {
                display: flex;
                justify-content: flex-start;

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }

        &-staking,
        &-bonds,
        &-treasury {
            margin-top: 40px;
        }

        &-switch-interval {
            width: 120px;

            & > div {
                display: flex;
                justify-content: space-between;
                & > div {
                    cursor: pointer;
                    background-color: rgb(180, 175, 175);
                    text-align: center;
                    width: 36px;
                    &:hover,
                    &:active {
                        background-color: rosybrown;
                    }
                }
            }
        }

        .input__info-label {
            margin-left: 10px;
            color: rgb(168, 166, 42);
        }
    }

    .label-with-info {
        text-decoration: underline dotted;
    }

    select:disabled,
    button:disabled {
        color: rgba($color: #b4b4b4, $alpha: 1);
    }
}
