.general-analytics-view {
    .card-filter {
        box-shadow: 2px 1px 22px -1px rgba(18, 38, 63, 0.09);
        border-radius: 4px;
    }
    .card-filter-scrollable {
        max-height: 400px;
        overflow: auto;
    }
    .change-button {
        width: 102px;
        margin: 30px auto 0;
        display: block;
    }
    .filter-name-span {
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #eff2f7;
        font-size: 14px;
        line-height: 21px;
        color: #8687a7;
        margin-bottom: 10px;
    }

    .input-select-chart-data {
        position: absolute;
        left: 0;
        /* z-index: -1; */
        width: 1rem;
        height: 1.15625rem;
        /* opacity: 0; */
    }

    .select-chart-data-holder {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0 !important;
        }
    }

    .loading-spinner {
        position: absolute;
        z-index: 9999;
    }

    @media (min-width: 475px) {
        .loading-spinner {
            top: 25px;
        }
    }

    @media (max-width: 475px) {
        .loading-spinner {
            top: 45px;
        }
    }

    @media (min-width: 1100px) {
        .tv-selector-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media (max-width: 1100px) {
        .tv-selector-container {
            display: flex;
            flex-direction: column;

            & div:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }
}
