.wallet-analytics-view {
    .card-filter {
        box-shadow: 2px 1px 22px -1px rgba(18, 38, 63, 0.09);
        border-radius: 4px;
    }
    .card-filter-scrollable {
        max-height: 400px;
        overflow: auto;
    }
    .change-button {
        width: 102px;
        margin: 30px auto 0;
        display: block;
    }
    .filter-name-span {
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #eff2f7;
        font-size: 14px;
        line-height: 21px;
        color: #8687a7;
        margin-bottom: 10px;
    }

    .card-filter {
        box-shadow: 2px 1px 22px -1px rgba(18, 38, 63, 0.09);
        border-radius: 4px;
    }

    .card-wallets-lists-analytics {
        height: auto;
    }

    .card-filter .flex-row {
        display: flex;
        align-items: center;
    }

    .first-n-pane {
        .form-fn-update {
            display: flex;
            align-items: center;

            & > .filter-input {
                width: 76px;
                & > input {
                    max-width: 100%;
                }
            }
        }

        @media (min-width: 992px) {
            .form-fn-update {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        @media (max-width: 992px) and (min-width: 768px), (max-width: 430px) {
            .form-fn-update {
                flex-direction: column;
                align-items: flex-start;

                & > .filter-input {
                    margin-top: 1.25rem;
                    margin-left: 0;
                }
            }
        }

        @media (min-width: 992px), (min-width: 429px) and (max-width: 767px) {
            .form-fn-update {
                & > .filter-input {
                    margin-left: 10px;
                }
            }
        }
    }

    .large-holders-pane {
        .form-lh-update {
            display: flex;

            & > .filter-input {
                width: 100px;

                & > input {
                    max-width: 100%;
                }
            }
        }

        @media (max-width: 920px) and (min-width: 768px), (max-width: 400px) {
            .form-lh-update {
                align-items: flex-start;
                flex-direction: column;

                & > span {
                    margin-top: 10px;
                }
            }
        }

        @media (min-width: 919px), (min-width: 399px) and (max-width: 767px) {
            .form-lh-update {
                align-items: center;
                flex-direction: row;

                & > span {
                    margin-left: 6px;
                }
            }
        }
    }

    .filter-name {
        font-size: 13px;
        line-height: 18px;
        color: #9596b2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .filter-input .input-group-btn-vertical {
        position: absolute;
        height: 100%;
        right: 0;
    }

    .filter-input .input-group-btn-vertical button:first-child {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        padding: 1px;
    }

    .filter-input .input-group-btn-vertical button:nth-child(2) {
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        padding: 1px;
    }

    #large-holders-analytics .filter-input {
        display: flex;
        align-items: center;
    }

    .irs--round .irs-bar,
    .irs--round .irs-to,
    .irs--round .irs-from,
    .irs--round .irs-single {
        background: #3b5de7 !important;
        font-size: 11px;
    }
    .irs--round .irs-to:before,
    .irs--round .irs-from:before,
    .irs--round .irs-single:before {
        border-top-color: #3b5de7;
    }
    .irs--round .irs-grid-text {
        font-size: 11px;
    }
    .irs--round .irs-min,
    .irs--round .irs-max {
        font-size: 11px;
    }
    .irs--round .irs-handle {
        border: 2px solid #3b5de7;
        width: 12px;
        height: 12px;
        top: 31px;
        background-color: #fff !important;
    }
    .table {
        font-size: 13px;
        line-height: 21px;
    }
    .table thead th {
        text-align: center;
    }
    .table tbody tr td:last-child {
        text-align: center;
    }
    #wallets-lists-analytics .remove-wallet {
        padding: 3px;
    }
    .change-button {
        width: 102px;
        margin: 30px auto 0;
        display: block;
    }
    .save-button {
        margin-top: 30px;
        margin-left: unset;
        margin-right: unset;
        width: 54px;
        height: 26px;
        font-size: 10px;
        padding: unset;
    }

    .edit-button {
        width: 67px;
        height: 21px;
        font-size: 10px;
        padding: 0;
    }

    .input-number {
        padding: 3px;
        max-width: 70px;
        max-height: 24px;
        font-size: 10px;
        margin-left: 16px;
        border-radius: 2px;
    }

    .wa-chart-wrapper {
        position: relative;
        height: 45vh;
        width: 100%;

        & .wa-chart {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .modal-imp-wallets .modal-content {
        padding: 20px;
    }
    .modal-imp-wallets-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .modal-imp-wallets-title .save-button {
        margin: 0 0 7px;
    }

    .custom-control.name-wallet {
        padding: 5px 0;
        border: 1px solid #eff2f7;
        border-left: none;
        border-right: none;
    }
    .name-wallet .custom-control-label {
        width: 100%;
    }
    .name-wallet .custom-control-label::before,
    .name-wallet .custom-control-label::after {
        right: 0;
        left: unset;
    }
    .change-wallet-name {
        border: none;
    }
}
